In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/kingyemii/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [3]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
grouped = df.groupby('Element')

In [6]:
result = grouped.mean()

/var/folders/tp/5f4hzjz5373bn631tnhrkr_c0000gn/T/ipykernel_54844/409042402.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result = grouped.mean()

In [18]:
print(result)

                                         Area Code    Item Code  Element Code  \
Element
Domestic supply quantity                133.898584  2681.292729        5301.0
Export Quantity                         136.250284  2689.201226        5911.0
Fat supply quantity (g/capita/day)      134.391798  2694.604818         684.0
Feed                                    133.640637  2682.719484        5521.0
Food                                    134.243068  2688.734062        5142.0
Food supply (kcal/capita/day)           134.434982  2694.666933         664.0
Food supply quantity (kg/capita/yr)     134.239755  2688.155148         645.0
Import Quantity                         133.912045  2684.562366        5611.0
Losses                                  136.561971  2700.250373        5123.0
Other uses (non-food)                   136.001155  2730.801963        5154.0
Processing                              135.293532  2661.898507        5131.0
Production                              135.725586  2692.618655        5511.0
Protein supply quantity (g/capita/day)  134.391798  2694.604818         674.0
Residuals                               133.892803  2668.332760        5170.0
Seed                                    135.875328  2671.828084        5527.0
Stock Variation                         135.058129  2677.109405        5072.0
Total Population - Both sexes           133.777778  2501.000000         511.0
Tourist consumption                      90.645045  2678.428829        5171.0

                                               Y2014         Y2015  \
Element
Domestic supply quantity                  380.762080    385.413451
Export Quantity                            40.989246     42.552503
Fat supply quantity (g/capita/day)          2.059529      2.057849
Feed                                      178.394646    191.206644
Food                                      247.616930    251.450949
Food supply (kcal/capita/day)              91.824742     91.500101
Food supply quantity (kg/capita/yr)        10.216179     10.142884
Import Quantity                            55.731750     54.371505
Losses                                     76.268293     77.371329
Other uses (non-food)                      47.363496     39.744697
Processing                                142.387016    144.325313
Production                                504.252676    508.625755
Protein supply quantity (g/capita/day)      2.384941      2.380597
Residuals                                   6.548436      6.524430
Seed                                       28.770236     31.590013
Stock Variation                            13.888849      8.255141
Total Population - Both sexes           22924.111111  23512.911111
Tourist consumption                         0.749550      0.628829

                                               Y2016         Y2017  \
Element
Domestic supply quantity                  389.493848    397.146843
Export Quantity                            41.587862     49.819344
Fat supply quantity (g/capita/day)          2.028669      2.058177
Feed                                      188.443333    184.423479
Food                                      253.976002    256.288331
Food supply (kcal/capita/day)              91.035664     91.577241
Food supply quantity (kg/capita/yr)        10.050324      9.985652
Import Quantity                            58.390949     59.760416
Losses                                     78.540070     79.947237
Other uses (non-food)                      42.572632     56.606529
Processing                                140.596693    146.564565
Production                                506.393213    530.179391
Protein supply quantity (g/capita/day)      2.366350      2.378002
Residuals                                   8.074620      7.687311
Seed                                       30.815810     32.810211
Stock Variation                             7.832692     12.837842
Total Population - Both sexes           24113.488889  24725.355556
Tourist consumption                         0.160360      0.163964

                                               Y2018
Element
Domestic supply quantity                  411.185712
Export Quantity                            49.806583
Fat supply quantity (g/capita/day)          2.057086
Feed                                      190.603820
Food                                      265.385972
Food supply (kcal/capita/day)              91.620246
Food supply quantity (kg/capita/yr)        10.058817
Import Quantity                            58.240059
Losses                                     81.624502
Other uses (non-food)                      55.166749
Processing                                153.983525
Production                                539.540533
Protein supply quantity (g/capita/day)      2.373357
Residuals                                   7.552860
Seed                                       33.328681
Stock Variation                             4.879751
Total Population - Both sexes           25346.777778
Tourist consumption                         0.162162

In [19]:
# Select 'Y2017' and 'Area' columns
selected_columns = df[['Y2017', 'Area']]

In [20]:
# Perform groupby operation on 'Area' and sum the 'Y2017' column
grouped_df = selected_columns.groupby('Area')['Y2017'].sum().reset_index()

In [21]:
# Find the area with the highest sum in 'Y2017'
area_with_highest_sum = grouped_df.loc[grouped_df['Y2017'].idxmax()]

In [22]:
# Print the area with the highest sum in 'Y2017'
print("Area with the highest sum in 2017:", area_with_highest_sum['Area'])

Area with the highest sum in 2017: Nigeria

In [8]:
import numpy as np

In [9]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [13]:
selected_columns = df[['Y2017', 'Area']]

In [14]:
grouped_df = selected_columns.groupby('Area')['Y2017'].sum().reset_index()

In [16]:
seventh_lowest_sum = grouped_df.nsmallest(7, 'Y2017').iloc[-1]

In [17]:
print(seventh_lowest_sum)

Area     Guinea-Bissau
Y2017         19102.77
Name: 21, dtype: object

In [23]:
# Calculate total number of missing values in 'Y2014' column
total_missing_values = df['Y2014'].isnull().sum()

# Calculate total number of rows in the DataFrame
total_rows = len(df)

# Calculate percentage of missing values in 'Y2014' column
percentage_missing_values = (total_missing_values / total_rows) * 100

# Print total number and percentage of missing data in 2014 to 3 decimal places
print("Total number of missing values in 2014:", total_missing_values)
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing_values))

Total number of missing values in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [24]:
# Calculate total sum of Wine produced in 2015
wine_2015_sum = df['Y2015'][df['Item'] == 'Wine'].sum()

# Calculate total sum of Wine produced in 2018
wine_2018_sum = df['Y2018'][df['Item'] == 'Wine'].sum()

# Print the results
print("Total sum of Wine produced in 2015:", wine_2015_sum)
print("Total sum of Wine produced in 2018:", wine_2018_sum)

Total sum of Wine produced in 2015: 4251.8099999999995
Total sum of Wine produced in 2018: 4039.3199999999997

In [25]:
# Assuming 'Area' is the column containing country names and 'Y2015' is the column containing protein supply quantity in 2015
# You might need to adjust column names based on your actual dataset

# Grouping by 'Area' and summing the 'Y2015' column
protein_supply_2015 = df.groupby('Area')['Y2015'].sum()

# Accessing the protein supply quantity for Madagascar
madagascar_protein_supply_2015 = protein_supply_2015['Madagascar']

print("Total Protein Supply Quantity in Madagascar in 2015:", madagascar_protein_supply_2015)

Total Protein Supply Quantity in Madagascar in 2015: 126674.9

In [26]:
my_tuppy = (1, 2, 5, 8)  
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [27]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

# Create a DataFrame
df = pd.DataFrame(lst, columns=col)

# Print the DataFrame
print(df)

   Age Nationality  Overall
0   35    Portugal       94
1   33   Argentina       93
2   30      Brazil       92

In [28]:
# Given list of tuples
y = [(2, 4), (7, 8), (1, 5, 9)]

# Accessing element 8 from the second tuple (7, 8)
x = y[1][1]

# Printing the variable x
print(x)

8

In [29]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}

df = pd.DataFrame(data, index=['row1', 'row2', 'row3'])

# Accessing element in row 'row2' and column 'B'
element = df.loc['row2', 'B']
print(element)  # Output: 5

5

In [30]:
import pandas as pd

# Assuming df is your DataFrame
# For example, df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Get the number of rows and columns
num_rows, num_columns = df.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 3
Number of columns: 3

In [34]:
print(df.columns)

Index(['A', 'B', 'C'], dtype='object')